<mat-drawer-container class="example-container mat-typography" autosize>
  <mat-drawer
    #drawer
    mode="side"
    disableClose="true"
    opened="true"
    class="nav-bar-expandable"
  >
    <mat-nav-list
      ><mat-list-item>
        <mat-icon *ngIf="!_toggleIsExpend" mat-list-icon>people</mat-icon>
        <span *ngIf="_toggleIsExpend">Employee</span></mat-list-item
      ></mat-nav-list
    >
    <mat-nav-list
      ><mat-list-item>
        <mat-icon *ngIf="!_toggleIsExpend" mat-list-icon>money</mat-icon>
        <span *ngIf="_toggleIsExpend">Tax Rates</span></mat-list-item
      ></mat-nav-list
    >
    <mat-nav-list>
      <mat-list-item>
        <mat-icon *ngIf="!_toggleIsExpend" mat-list-icon
          >assignment_turned_in</mat-icon
        >

        <h4 mat-line *ngIf="_toggleIsExpend">
          <mat-accordion multi="true" [displayMode]="displayMode">
            <mat-expansion-panel class="no-shadow">
              <mat-expansion-panel-header
                class="mat-expansion-header-adjust nav-bar-accordian"
                fxLayout="row"
                [expandedHeight]="'36px'"
                [collapsedHeight]="collapseHeight"
              >
                <mat-panel-title>
                  Items Master
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list class="ml-0" dense>
                <mat-list-item>
                  <a (click)="getElementNameTest('Price Prompt SKUs')"
                    >Price Prompt SKUs</a
                  >
                </mat-list-item>
                <mat-list-item>
                  <a (click)="getElementNameTest('Hardware SKUs')"
                    >Hardware SKUs</a
                  >
                </mat-list-item>
                <mat-list-item>
                  <a (click)="getElementNameTest('Group/Header')"
                    >Linked SKUs</a
                  >
                </mat-list-item>
                <mat-list-item>
                  <a (click)="getElementNameTest('Group/Header')">Free SKUs</a>
                </mat-list-item>
                <mat-list-item>
                  <a (click)="getElementNameTest('Group/Header')"
                    >Age Restricted, Special rest</a
                  >
                </mat-list-item>
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-accordion>
        </h4>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon *ngIf="!_toggleIsExpend" mat-list-icon>device_hub</mat-icon>
        <h4 mat-line *ngIf="_toggleIsExpend">
          <mat-accordion multi="true" [displayMode]="displayMode">
            <mat-expansion-panel class="no-shadow">
              <mat-expansion-panel-header
                class="mat-expansion-header-adjust nav-bar-accordian"
                fxLayout="row"
                [expandedHeight]="'36px'"
                [collapsedHeight]="collapseHeight"
              >
                <mat-panel-title>
                  Item Groups
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list class="ml-0" dense>
                <mat-list-item>
                  <a (click)="getElementNameTest('Price Prompt SKUs')"
                    >Return- Driver's License</a
                  >
                </mat-list-item>
                <mat-list-item>
                  <a (click)="getElementNameTest('Hardware SKUs')"
                    >Lowest Price</a
                  >
                </mat-list-item>
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-accordion>
        </h4>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list
      ><mat-list-item>
        <mat-icon *ngIf="!_toggleIsExpend" mat-list-icon>note_add</mat-icon>
        <span *ngIf="_toggleIsExpend">POSA</span></mat-list-item
      ></mat-nav-list
    >
    <mat-nav-list
      ><mat-list-item>
        <mat-icon *ngIf="!_toggleIsExpend" mat-list-icon
          >import_export</mat-icon
        >
        <span *ngIf="_toggleIsExpend">Order</span></mat-list-item
      ></mat-nav-list
    >
  </mat-drawer>
</mat-drawer-container>
