.example-container {
  min-height: 592px;
  height: 100%;
  .nav-bar-expandable {
    // background-color: aqua;
    max-width: 160px;
    .toggle-icon {
      margin: 10px;
      cursor: pointer;
    }
  }
}
.mat-nav-list {
  padding-top: 0px !important;
  .mat-list-item {
    height: 100% !important;
    margin: 10px 0;
    color: white;
    font-family: sans-serif;
    font-size: 14px !important;
    font-weight: bold !important;
    .mat-list-item-content {
      padding: 0 6px;
    }
  }
  a {
    white-space: nowrap;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// .mat-expansion-panel-header {
//   height: 40px !important;
// }

// .mat-expansion-header-adjust {
// height: 40px !important;
// }

.nav-bar-expandable.mat-drawer {
  background: rgba(204, 0, 0, 0.6784313725490196);
  opacity: 0.9;
}
.mat-expansion-panel {
  background: rgba(204, 0, 0, 0);
  ::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 0 2px 4px !important;
  }
}

.mat-expansion-panel-header-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  font-family: sans-serif;
}

.nav-bar-accordian > .mat-expansion-indicator:after {
  color: #ffffff !important;
}

.mat-expansion-panel-header {
  padding: 0 2px !important;
}
