<mat-drawer-container
  class="example-container mat-typography"
  [style.min-height.px]="barHeight"
>
  <mat-drawer
    #drawer
    mode="side"
    disableClose="true"
    opened="true"
    class="nav-bar-expandable"
  >
    <perfect-scrollbar [config]="config" [scrollIndicators]="true">
      <div style="margin-top: 20px;">
        <mat-nav-list
          ><mat-list-item>
            <mat-icon
              *ngIf="!_toggleIsExpend"
              data-toggle="tooltip"
              class="icons-side-navbar"
              title="Employee"
              (click)="getElementNameTest('Employee')"
              mat-list-icon
              >people</mat-icon
            >
            <span
              *ngIf="_toggleIsExpend"
              data-toggle="tooltip"
              title="Employee"
              (click)="getElementNameTest('Employee')"
              >Employee</span
            ></mat-list-item
          ></mat-nav-list
        >
        <mat-divider></mat-divider>
        <mat-nav-list
          ><mat-list-item>
            <mat-icon
              *ngIf="!_toggleIsExpend"
              data-toggle="tooltip"
              title="Tax Rates"
              (click)="getElementNameTest('Tax_Rates')"
              mat-list-icon
              >money</mat-icon
            >
            <span
              *ngIf="_toggleIsExpend"
              data-toggle="tooltip"
              title="Tax Rates"
              (click)="getElementNameTest('Tax_Rates')"
              >Tax Rates</span
            ></mat-list-item
          ></mat-nav-list
        >
        <mat-divider></mat-divider>
        <mat-nav-list>
          <mat-list-item>
            <mat-icon
              *ngIf="!_toggleIsExpend"
              data-toggle="tooltip"
              title="Items Master"
              (click)="getElementNameTest('Item_Master')"
              mat-list-icon
              >assignment_turned_in</mat-icon
            >

            <h4 mat-line *ngIf="_toggleIsExpend">
              <mat-accordion multi="true" [displayMode]="displayMode">
                <mat-expansion-panel class="no-shadow">
                  <mat-expansion-panel-header
                    class="mat-expansion-header-adjust nav-bar-accordian"
                    fxLayout="row"
                    [expandedHeight]="'36px'"
                    [collapsedHeight]="'32px'"
                  >
                    <mat-panel-title
                      (click)="getElementNameTest('Item_Master')"
                      data-toggle="tooltip"
                      title="Items Master"
                    >
                      Items Master
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-nav-list class="ml-0" dense>
                    <mat-list-item>
                      <a
                        (click)="getElementNameTest('Price_Prompt_SKUs')"
                        data-toggle="tooltip"
                        title="Price Prompt SKUs"
                        >Price Prompt SKUs</a
                      >
                    </mat-list-item>
                    <mat-list-item>
                      <a
                        (click)="getElementNameTest('Hardware_SKUs')"
                        data-toggle="tooltip"
                        title="Hardware SKUs"
                        >Hardware SKUs</a
                      >
                    </mat-list-item>
                    <mat-list-item>
                      <a
                        (click)="getElementNameTest('Linked_SKUs')"
                        data-toggle="tooltip"
                        title="Warranty/Linked SKUs"
                        >Warranty/Linked SKUs</a
                      >
                    </mat-list-item>
                    <mat-list-item>
                      <a
                        (click)="getElementNameTest('Recycle_Fee_SKUs')"
                        data-toggle="tooltip"
                        title="Recycle Fee SKUs"
                        >Recycle Fee SKUs</a
                      >
                    </mat-list-item>
                    <mat-list-item>
                      <a
                        (click)="getElementNameTest('Bag_Fee_SKUs')"
                        data-toggle="tooltip"
                        title="Bag Fee SKUs"
                        >Bag Fee SKUs</a
                      >
                    </mat-list-item>
                    <mat-list-item>
                      <a
                        (click)="getElementNameTest('ESP_Skus')"
                        data-toggle="tooltip"
                        title="ESP SKUs"
                        >ESP SKUs</a
                      >
                    </mat-list-item>
                    <mat-list-item>
                      <a
                        (click)="
                          getElementNameTest('Age_Restricted_Special_rest')
                        "
                        data-toggle="tooltip"
                        title="Age Restricted, Special rest"
                        >Age Restricted, Special rest</a
                      >
                    </mat-list-item>
                  </mat-nav-list>
                </mat-expansion-panel>
              </mat-accordion>
            </h4>
          </mat-list-item>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list>
          <mat-list-item>
            <mat-icon
              *ngIf="!_toggleIsExpend"
              data-toggle="tooltip"
              title="Item - Item Groups"
              mat-list-icon
              (click)="getElementNameTest('Item_Group')"
              >device_hub</mat-icon
            >
            <h4 mat-line *ngIf="_toggleIsExpend">
              <mat-accordion multi="true" [displayMode]="displayMode">
                <mat-expansion-panel class="no-shadow">
                  <mat-expansion-panel-header
                    class="mat-expansion-header-adjust nav-bar-accordian"
                    fxLayout="row"
                    [expandedHeight]="'36px'"
                    [collapsedHeight]="'32px'"
                  >
                    <mat-panel-title
                      data-toggle="tooltip"
                      title="Item Groups"
                      (click)="getElementNameTest('Item_Group')"
                    >
                      Item - Item Groups
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-nav-list class="ml-0" dense>
                    <mat-list-item>
                      <a
                        (click)="getElementNameTest('Return_Driver_License')"
                        data-toggle="tooltip"
                        title="Return- Driver's License"
                        >Return- Driver's License</a
                      >
                    </mat-list-item>
                    <mat-list-item>
                      <a
                        (click)="getElementNameTest('Lowest_Price')"
                        data-toggle="tooltip"
                        title="Lowest Price"
                        >Lowest Price</a
                      >
                    </mat-list-item>
                  </mat-nav-list>
                </mat-expansion-panel>
              </mat-accordion>
            </h4>
          </mat-list-item>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list
          ><mat-list-item>
            <mat-icon
              *ngIf="!_toggleIsExpend"
              data-toggle="tooltip"
              title="POSA"
              (click)="getElementNameTest('POSA')"
              mat-list-icon
              >note_add</mat-icon
            >
            <span
              *ngIf="_toggleIsExpend"
              data-toggle="tooltip"
              title="POSA"
              (click)="getElementNameTest('POSA')"
              >POSA</span
            ></mat-list-item
          ></mat-nav-list
        >
        <mat-divider></mat-divider>
        <mat-nav-list
          ><mat-list-item>
            <mat-icon
              *ngIf="!_toggleIsExpend"
              data-toggle="tooltip"
              title="Order"
              (click)="getElementNameTest('Order')"
              mat-list-icon
              >import_export</mat-icon
            >
            <span
              *ngIf="_toggleIsExpend"
              data-toggle="tooltip"
              title="Order"
              (click)="getElementNameTest('Order')"
              >Order</span
            ></mat-list-item
          ></mat-nav-list
        >
        <mat-divider></mat-divider>
        <mat-nav-list
          ><mat-list-item>
            <img
              src="./app/assets/images/side_navBar_icons/promo_Icon.png"
              alt="promos"
              height="30px"
              data-toggle="tooltip"
              title="Promos"
              (click)="getElementNameTest('Promos')"
              *ngIf="!_toggleIsExpend"
            />
            <span
              *ngIf="_toggleIsExpend"
              data-toggle="tooltip"
              title="Promos"
              (click)="getElementNameTest('Promos')"
              >Promos</span
            ></mat-list-item
          ></mat-nav-list
        >
        <mat-divider></mat-divider>
        <mat-nav-list
          ><mat-list-item>
            <img
              src="./app/assets/images/side_navBar_icons/coupon_Icon.png"
              alt="Coupon"
              height="30px"
              data-toggle="tooltip"
              title="Coupon"
              (click)="getElementNameTest('Coupon')"
              *ngIf="!_toggleIsExpend"
            />
            <span
              *ngIf="_toggleIsExpend"
              data-toggle="tooltip"
              title="Promos"
              (click)="getElementNameTest('Coupon')"
              >Coupon</span
            ></mat-list-item
          ></mat-nav-list
        >
        <mat-divider></mat-divider>
        <mat-nav-list
          ><mat-list-item>
            <mat-icon
              *ngIf="!_toggleIsExpend"
              data-toggle="tooltip"
              title="Tax Exempt"
              (click)="getElementNameTest('Tax_Exempt')"
              mat-list-icon
              >money_off</mat-icon
            >
            <h4 mat-line *ngIf="_toggleIsExpend">
              <mat-accordion multi="true" [displayMode]="displayMode">
                <mat-expansion-panel class="no-shadow">
                  <mat-expansion-panel-header
                    class="mat-expansion-header-adjust nav-bar-accordian"
                    fxLayout="row"
                    [expandedHeight]="'36px'"
                    [collapsedHeight]="'32px'"
                  >
                    <mat-panel-title
                      (click)="getElementNameTest('Tax_Exempt')"
                      data-toggle="tooltip"
                      title="Tax Exempt"
                    >
                      Tax Exempt
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-nav-list class="ml-0" dense>
                    <mat-list-item>
                      <a
                        (click)="getElementNameTest('Tax_Exempt_Valid')"
                        data-toggle="tooltip"
                        title="valid"
                        >Valid</a
                      >
                    </mat-list-item>
                    <mat-list-item>
                      <a
                        (click)="getElementNameTest('Tax_Exempt_Expired')"
                        data-toggle="tooltip"
                        title="Expired"
                        >Expired</a
                      >
                    </mat-list-item>
                    <mat-list-item>
                      <a
                        (click)="
                          getElementNameTest('Tax_Exempt_About_To_Expired')
                        "
                        data-toggle="tooltip"
                        title="About To Expire"
                        >About To Expire</a
                      >
                    </mat-list-item>
                    <mat-list-item>
                      <a
                        (click)="getElementNameTest('Tax_Exempt_Deactivated')"
                        data-toggle="tooltip"
                        title="Deactivated/Incomplete"
                        >Deactivated/Incomplete</a
                      >
                    </mat-list-item>
                  </mat-nav-list>
                </mat-expansion-panel>
              </mat-accordion>
            </h4>
          </mat-list-item></mat-nav-list
        >
        <mat-divider></mat-divider>
        <mat-nav-list>
          <mat-list-item>
            <img
              src="./app/assets/images/side_navBar_icons/reward_Icon.png"
              alt="Rewards"
              height="30px"
              data-toggle="tooltip"
              title="Rewards"
              (click)="getElementNameTest('Rewards')"
              *ngIf="!_toggleIsExpend"
            />

            <h4 mat-line *ngIf="_toggleIsExpend">
              <mat-accordion multi="true" [displayMode]="displayMode">
                <mat-expansion-panel class="no-shadow">
                  <mat-expansion-panel-header
                    class="mat-expansion-header-adjust nav-bar-accordian"
                    fxLayout="row"
                    [expandedHeight]="'36px'"
                    [collapsedHeight]="'32px'"
                  >
                    <mat-panel-title data-toggle="tooltip" title="Rewards">
                      Rewards
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-nav-list class="ml-0" dense>
                    <mat-list-item>
                      <a
                        (click)="getElementNameTest('CBP')"
                        data-toggle="tooltip"
                        title="CBP"
                        >CBP</a
                      >
                    </mat-list-item>
                    <mat-list-item>
                      <a
                        (click)="getElementNameTest('CEP')"
                        data-toggle="tooltip"
                        title="CEP"
                        >CEP</a
                      >
                    </mat-list-item>
                  </mat-nav-list>
                </mat-expansion-panel>
              </mat-accordion>
            </h4>
          </mat-list-item>
        </mat-nav-list>
        <mat-divider></mat-divider>
      </div>
    </perfect-scrollbar>
  </mat-drawer>
</mat-drawer-container>
