<perfect-scrollbar [scrollIndicators]="true">
  <div class="container">
    <div
      class="row d-flex align-items-center justify-content-end print-close-row"
    >
      <mat-dialog-actions>
        <div class="print-close-icon">
          <mat-icon
            _ngcontent-c1=""
            class="print-document mat-icon mat-list-icon material-icons"
            mat-list-icon=""
            role="img"
            aria-hidden="true"
            data-toggle="tooltip"
            title="print"
            >print</mat-icon
          >
        </div>
        <div class="print-close-icon">
          <mat-icon
            _ngcontent-c1=""
            class="close-icon mat-icon mat-list-icon material-icons"
            mat-list-icon=""
            role="img"
            aria-hidden="true"
            data-toggle="tooltip"
            title="close"
            (click)="closeDialog()"
            >close</mat-icon
          >
        </div>
      </mat-dialog-actions>
    </div>
    <p>
      promo-detail works!
    </p>
  </div>
</perfect-scrollbar>
