@import "../../assets/styles/color-codes";

@mixin disclaimer {
  padding-top: 10px;
  font-size: 10px;
  color: $gray;
  font-style: italic;
}

.log-list {
  border-radius: 6px;
  .store-name {
    font-size: medium;
    margin-right: 10px;
    font-weight: bold;
    color: $red;
  }
  .store-dropdown {
    height: 25px;
    padding: 0 10px;
  }

  .table-header-name {
    margin-top: 10px;
    border-bottom: 1px solid #0000001f;
  }

  .list-search {
    .mat-form-field {
      float: right;
    }
    .search-field {
      margin-left: 10px;
      margin-top: 5px;
      width: 45%;
    }
    .advance-search-link {
      text-align: center;
      padding: 23px 0px;
      margin-left: 12px;
    }

    .advance-print-notDisplay {
      width: 0px;
    }
  }

  .advanced-search {
    .row-bottom-border {
      border-width: 0;
      border-bottom-width: 1px;
      border-bottom-color: rgba(0, 0, 0, 0.12);
      border-style: solid;
    }
    .inner-rows {
      min-height: 45px;
    }
    .advance-search-text {
      color: #0056b3;
      font-weight: bold;
    }
    .select-fields {
      padding: 0 25px;
    }
    .advance-search-addition {
      font-size: 1.5em;
      color: #109210;
      cursor: pointer;
    }
    .advance-search-minus {
      font-size: 1.5em;
      color: $red;
      cursor: pointer;
    }
    .advance-search-disclaimer {
      @include disclaimer;
    }
  }

  .log-list-table {
    .example-header {
      background-color: $white;
      max-height: 40px;
    }

    .mat-table {
      .mat-header-row {
        .mat-column-action {
          visibility: hidden;
        }
        .mat-header-cell {
          color: $red;
          font-weight: bold;
          font-size: 14px;
          justify-content: center;
          .header-checkbox {
            margin-left: 40%;
          }
        }
      }

      .material-rows {
        min-height: 66px !important;
      }
    }

    .load-spinner-for-pagination {
      height: 392px;
      .pagination-spinner-loader {
        margin: 15% 50%;
      }
    }

    .mat-cell {
      text-align: center;
      justify-content: center;

      .bar-code-value {
        text-align: center;
      }
      .promo-number-column {
        cursor: pointer;
        &:hover {
          color: #0056b3;
          text-decoration: underline;
        }
      }
    }
    .mat-footer-row {
      .mat-footer-cell {
        justify-content: center;
        font-style: italic;
      }
    }
    .hide {
      display: none;
    }
  }

  .footer-pagination {
    height: 56px;
    .disclaimers-data {
      @include disclaimer;
    }
  }

  .create-order {
    color: #0056b3 !important;
    cursor: pointer;
    &:hover {
      text-decoration: none !important;
    }
  }
}

.under-construction {
  margin: 10% 33%;
}

// .load-spinner {
//   padding: 17% 40%;
// }

mat-cell.mat-cell.cdk-column-select.mat-column-select.ng-star-inserted {
  max-width: 6%;
}

mat-header-cell.mat-header-cell.cdk-column-select.mat-column-select.mat-sort-header-disabled.ng-star-inserted {
  max-width: 6%;
}
