.log-list {
  margin-top: 2%;
  border-radius: 6px;
  display: inline-block;
  .store-name {
    font-size: medium;
    margin-right: 10px;
    font-weight: bold;
    color: #cc0000;
  }
  .store-dropdown {
    height: 25px;
    padding: 0 10px;
  }

  .list-search {
    .mat-form-field {
      float: right;
    }
  }
  .log-list-table {
    .example-header {
      background-color: white;
      max-height: 40px;
    }

    .mat-table {
      .mat-header-row {
        .mat-column-action {
          visibility: hidden;
        }
        .mat-header-cell {
          color: #c00;
          font-weight: bold;
          font-size: 14px;
          justify-content: center;
        }
      }
    }

    .mat-cell {
      justify-content: center;
      .bar-code-value {
        text-align: center;
      }
    }
    .mat-footer-row {
      .mat-footer-cell {
        justify-content: center;
        font-style: italic;
      }
    }
    .hide {
      display: none;
    }
  }
}

.load-spinner {
  margin-top: 50px;
}

mat-cell.mat-cell.cdk-column-select.mat-column-select.ng-star-inserted {
  max-width: 6%;
}

mat-header-cell.mat-header-cell.cdk-column-select.mat-column-select.mat-sort-header-disabled.ng-star-inserted {
  max-width: 6%;
}
