<div class="container mat-elevation-z8 log-list" [hidden]="isLoading">
  <div class="row">
    <div class="col-md-12 list-search">
      <div class="row">
        <div class="col-md-3 d-flex align-items-center justify-content-end">
          <span class="store-name" *ngIf="!isLoading">Store</span>
          <mat-form-field *ngIf="!isLoading">
            <!-- <mat-label>Choose a store</mat-label> -->
            <mat-select
              (selectionChange)="onSelectStore($event)"
              [(value)]="selectedOption"
            >
              <mat-option
                *ngFor="let store of storeUniqueData"
                [value]="store"
                >{{ store }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
          <mat-icon
            _ngcontent-c1=""
            class="print-document mat-icon mat-list-icon material-icons"
            mat-list-icon=""
            role="img"
            aria-hidden="true"
            data-toggle="tooltip"
            title="print"
            (click)="onPrintInvoice()"
            [hidden]="isLoading"
            >print</mat-icon
          >
          <mat-form-field *ngIf="!isLoading">
            <input
              matInput
              (keyup)="applyFilter($event.target.value)"
              placeholder="Search"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-md-12 log-list-table">
      <mat-table #table [dataSource]="dataByAPI" matSort>
        <ng-container
          *ngFor="let column of columns"
          [cdkColumnDef]="column.columnDef"
        >
          <mat-header-cell
            *cdkHeaderCellDef
            mat-sort-header
            [disabled]="isSortingDisabled(column.columnDef)"
            ><span *ngIf="!(column.columnDef === 'select')">{{
              column.header
            }}</span
            ><span *ngIf="column.columnDef === 'select'">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                [(ngModel)]="selectAll"
                (change)="updateCheck()"
                [checked]="checkBoxStatusForHeader()"
              ></mat-checkbox></span
          ></mat-header-cell>

          <mat-cell *cdkCellDef="let row"
            ><span
              *ngIf="
                !(
                  column.header === 'Bar Code' ||
                  column.header === 'UPC' ||
                  column.columnDef === 'action' ||
                  column.columnDef === 'select'
                )
              "
              >{{ column.cell(row) }}</span
            ><span *ngIf="column.columnDef === 'select'"
              ><mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="checkedRowForPrint(row, $event)"
                [checked]="isSelected(row)"
              ></mat-checkbox
            ></span>
            <div
              *ngIf="column.header === 'Bar Code' || column.header === 'UPC'"
            >
              <ngx-barcode
                [bc-value]="column.cell(row)"
                [bc-display-value]="false"
                [bc-height]="30"
                [bc-width]="1"
              ></ngx-barcode>
              <div class="bar-code-value">
                {{ column.cell(row) }}
              </div>
            </div>
            <span *ngIf="column.columnDef === 'action'"
              ><a
                class="launch-icon"
                (click)="discriptionLog(row)"
                mat-icon-button
                ><mat-icon data-toggle="tooltip" title="view"
                  >launch</mat-icon
                ></a
              ></span
            >
          </mat-cell>
        </ng-container>

        <mat-header-row
          [hidden]="isLoading"
          *matHeaderRowDef="displayedColumns"
        ></mat-header-row>
        <mat-row
          [hidden]="isLoading"
          *matRowDef="let row; columns: displayedColumns"
        ></mat-row>
      </mat-table>
    </div>
    <div class="col-md-12">
      <mat-paginator
        [hidden]="isLoading"
        [pageSizeOptions]="[5, 10, 25, 50]"
        [pageSize]="testPageSize"
        (page)="getUpdate($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
<div class="load-spinner">
  <mat-progress-spinner
    *ngIf="isLoading"
    style="display: flex; justify-content: center; align-items: center"
    color="warn"
    mode="indeterminate"
  >
  </mat-progress-spinner>
</div>
