.dashBoard {
  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
    .side-nav-bar {
      padding-left: 0%;
    }
    .log-table {
      margin: 1.7% auto 8.7%;
      // margin: 0 0 2%;
      // @media screen and (max-height: 560px) {
      //   margin: 2.7% 0 8.7%;
      // }
    }
  }
}
