<div class="wrapper dashBoard" style="width: 100%; height: auto;">
  <as-split direction="horizontal">
    <as-split-area
      [size]="[splitLeftBarSize]"
      [minSize]="[minLeftBarSize]"
      [maxSize]="[maxLeftBarSize]"
    >
      <as-split direction="vertical">
        <as-split-area>
          <div>
            <app-side-nav-bar></app-side-nav-bar>
          </div>
        </as-split-area>
      </as-split>
    </as-split-area>

    <as-split-area [size]="[rightPartSplitSize]" minSize="80" maxSize="95">
      <as-split direction="vertical">
        <as-split-area>
          <perfect-scrollbar [config]="config" [scrollIndicators]="true">
            <div class="log-data-table">
              <app-log-data-table></app-log-data-table>
            </div>
          </perfect-scrollbar>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>
