<div class="wrapper dashBoard" style="width: 100%; height: 500px;">
  <as-split direction="horizontal">
    <as-split-area [size]="[splitLeftBarSize]" minSize="5" maxSize="20">
      <as-split direction="vertical">
        <as-split-area>
          <app-side-nav-bar></app-side-nav-bar>
        </as-split-area>
      </as-split>
    </as-split-area>

    <as-split-area [size]="[rightPartSplitSize]" minSize="80" maxSize="95">
      <as-split direction="vertical">
        <as-split-area>
          <div class="log-data-table">
            <app-log-data-table></app-log-data-table>
          </div>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>
