.example-container {
  height: 500px;
  .nav-bar-expandable {
    background-color: aqua;
    .toggle-icon {
      margin: 10px;
      cursor: pointer;
    }
  }
}
.mat-list-item {
  height: 100% !important;
}
