.example-container {
  height: 100%;
  .nav-bar-expandable {
    // background-color: aqua;
    max-width: 150px;
    .toggle-icon {
      margin: 10px;
      cursor: pointer;
    }
  }
}
.mat-list-item {
  height: 100% !important;
  margin: 10px 0;
  .mat-list-item-content {
    padding-left: 8px !important;
  }
}
// .mat-expansion-panel-header {
//   height: 40px !important;
// }

.mat-expansion-header-adjust {
  height: 40px !important;
}
