.example-container {
  min-height: 592px;
  height: 100%;
  .nav-bar-expandable {
    // background-color: aqua;
    max-width: 150px;
    .toggle-icon {
      margin: 10px;
      cursor: pointer;
    }
  }
}
.mat-nav-list {
  padding-top: 0px !important;
}
.mat-list-item {
  height: 100% !important;
  margin: 10px 0;
  color: white;
  font-family: sans-serif;
  .mat-list-item-content {
    padding-left: 8px !important;
  }
}
// .mat-expansion-panel-header {
//   height: 40px !important;
// }

// .mat-expansion-header-adjust {
// height: 40px !important;
// }

.nav-bar-expandable.mat-drawer {
  background: rgba(204, 0, 0, 0.6784313725490196);
  opacity: 0.9;
}
.mat-expansion-panel {
  background: rgba(204, 0, 0, 0);
}

.mat-expansion-panel-header-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
}

.nav-bar-accordian > .mat-expansion-indicator:after {
  color: #ffffff !important;
}

// .mat-expansion-panel-header {
//   height: 20px !important;
// }
