.print-close-row {
  margin-bottom: 15px;
  margin-right: 0px;
  .print-close-icon {
    margin: 0 10px;
  }
}

.classified-content {
  height: 32px;
  color: #007bff;
}

.linked-sku-table {
  height: 100px;
  overflow: auto;
  margin-bottom: 20px;
  margin-top: 12px;
}

.table-bordered {
  .table-header {
    color: #cc0000;
  }
}

.discription-blocks {
  height: 65px;
  overflow: auto;
}
