<div class="printed-document">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" *ngFor="let headerRow of keysForPrintedTable">
          <span *ngIf="!(headerRow === 'checked' || headerRow === 'index')">{{
            headerRow
          }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let printedData of dataForPrint">
        <td *ngFor="let key of rowTableData">
          <div
            *ngIf="
              !(
                key === 'checked' ||
                key === 'barCode' ||
                key === 'index' ||
                key === 'upcList'
              )
            "
          >
            {{ printedData[key] }}
          </div>
          <div *ngIf="key === 'upcList'">
            <div *ngFor="let barCode of printedData['upcList']">
              <ngx-barcode
                [bc-value]="barCode"
                [bc-display-value]="true"
                [bc-height]="25"
                [bc-width]="1"
              ></ngx-barcode>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
