<div class="printed-document">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" *ngFor="let headerRow of keysForPrintedTable">
          <span *ngIf="!(headerRow === 'checked' || headerRow === 'index')">{{
            headerRow
          }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let printedData of dataForPrint">
        <td *ngFor="let key of rowTableData">
          <div
            *ngIf="!(key === 'checked' || key === 'barCode' || key === 'index')"
          >
            {{ printedData[key] }}
          </div>
          <div *ngIf="key === 'barCode'">
            <ngx-barcode
              [bc-value]="printedData['upcList'][0]"
              [bc-display-value]="false"
              [bc-height]="30"
              [bc-width]="1"
            ></ngx-barcode>
            <div class="barCode-value">{{ printedData["upcList"][0] }}</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
