.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.main-header {
  background-color: #ffffff;
  min-height: 70px;
  .toggle-icon-main {
    max-width: 5.333333% !important;
    .toggle-icon-cursor {
      cursor: pointer;
    }
  }
  .header-logo {
    margin-left: 5%;
  }
  .search-Box {
    border-radius: 30px;
    width: 250px;
    height: auto;
  }
}
