.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.main-header {
  background-color: #e9ebee !important;
  min-height: 70px;
  .toggle-icon-main {
    max-width: 5.333333% !important;
    color: #cc0000;
    .toggle-icon-inner-expended {
      background: #dfe0e2 !important;
      border-radius: 60%;
    }
    .toggle-icon-inner {
      .toggle-icon-cursor {
        cursor: pointer;
      }
    }

    .toggle-icon-cursor-expended {
      color: #0070e8 !important;
      margin-top: 5px;
    }
  }
  .header-logo {
    margin-left: 5%;
  }
  .search-Box {
    border-radius: 30px;
    width: 250px;
    height: auto;
  }
}
