<header class="row align-items-center main-header">
  <div class="col-sm-4">
    <img
      class="header-logo"
      src="../../../app/assets/images/staples_logo_transparent.svg"
      alt="Staples"
      height="30px"
    />
  </div>
  <div class="col-sm-8">
    <div class="d-flex align-items-center justify-content-end">
      <input
        type="text"
        class="form-control mr-4 search-Box"
        placeholder="search"
      />
      <img
        class="rounded-circle mr-2"
        src="https://www.w3schools.com/howto/img_avatar.png"
        width="30"
        height="30"
        alt="Profile"
      />
    </div>
  </div>
</header>
