@import "../../assets/styles/color-codes";

.kiosk-form {
  .kiosk-order-upper {
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: 60px;
    .kiosk-order-banner {
      align-items: center;
      font-weight: bold;
      color: $blue;
      font-size: 20px;
    }
    .back-order-table {
      color: #0056b3 !important;
      cursor: pointer;
      &:hover {
        color: $red !important;
        text-decoration: underline !important;
      }
    }
  }

  .inner-rows {
    min-height: 45px;
  }

  .kiosk-order-form {
    border: 1px solid #dddddd;
    border-radius: 2%;
    .kiosk-form-inner {
      padding-top: 4%;
      .classified-text {
        height: 35px;
        font-weight: bold;
        color: $blue;
      }
      .form-labels {
        color: #cb2026;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
