.log-list {
  margin-top: 2%;
  border-radius: 6px;
  display: inline-block;
  .list-search {
    .mat-form-field {
      float: right;
    }
  }
  .log-list-table {
    .example-header {
      background-color: white;
      max-height: 40px;
    }
    .launch-icon {
      margin-left: 30px;
      cursor: pointer;
      .mat-icon {
        color: #007bff;
      }
    }
    .mat-header-row {
      .mat-column-action {
        visibility: hidden;
      }
    }
    .mat-header-cell {
      color: #c00;
      font-weight: bold;
      font-size: 14px;
      justify-content: center;
    }
    .mat-cell {
      justify-content: center;
      .bar-code-value {
        text-align: center;
      }
    }
    .mat-footer-row {
      .mat-footer-cell {
        justify-content: center;
        font-style: italic;
      }
    }
    .hide {
      display: none;
    }
  }
}
