<div class="container mat-elevation-z8 log-list">
  <div class="row">
    <div class="col-md-12 list-search">
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Search"
        />
      </mat-form-field>
    </div>
    <div class="col-md-12 log-list-table">
      <mat-table #table [dataSource]="dataByAPI" matSort>
        <ng-container
          *ngFor="let column of columns"
          [cdkColumnDef]="column.columnDef"
        >
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>{{
            column.header
          }}</mat-header-cell>
          <mat-cell *cdkCellDef="let row"
            ><span *ngIf="!(column.header === 'Bar Code')">{{
              column.cell(row)
            }}</span>
            <span *ngIf="column.header === 'Bar Code'">
              <ngx-barcode
                [bc-value]="column.cell(row)"
                [bc-display-value]="false"
                [bc-height]="30"
                [bc-width]="1"
              ></ngx-barcode>
              <div>{{ column.cell(row) }}</div></span
            >
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
    <div class="col-md-12">
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="10">
      </mat-paginator>
    </div>
  </div>
</div>
