<div class="container mat-elevation-z8 log-list">
  <div class="row">
    <div class="col-md-12 list-search">
      <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
          <mat-icon
            _ngcontent-c1=""
            class="print-document mat-icon mat-list-icon material-icons"
            mat-list-icon=""
            role="img"
            aria-hidden="true"
            data-toggle="tooltip"
            title="print"
            >print</mat-icon
          >
          <mat-form-field>
            <input
              matInput
              (keyup)="applyFilter($event.target.value)"
              placeholder="Search"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-md-12 log-list-table">
      <mat-table #table [dataSource]="dataByAPI" matSort>
        <ng-container
          *ngFor="let column of columns"
          [cdkColumnDef]="column.columnDef"
        >
          <mat-header-cell
            *cdkHeaderCellDef
            [disabled]="isSortingDisabled(column.header)"
            mat-sort-header
            >{{ column.header }}</mat-header-cell
          >
          <mat-cell *cdkCellDef="let row"
            ><span
              *ngIf="
                !(column.header === 'BAR CODE' || column.columnDef === 'action')
              "
              >{{ column.cell(row) }}</span
            >
            <div *ngIf="column.header === 'BAR CODE'">
              <ngx-barcode
                [bc-value]="column.cell(row)"
                [bc-display-value]="false"
                [bc-height]="30"
                [bc-width]="1"
              ></ngx-barcode>
              <div class="bar-code-value">{{ column.cell(row) }}</div>
            </div>
            <span *ngIf="column.columnDef === 'action'"
              ><a
                class="launch-icon"
                (click)="discriptionLog(row)"
                mat-icon-button
                ><mat-icon data-toggle="tooltip" title="view"
                  >launch</mat-icon
                ></a
              ></span
            >
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
    <div class="col-md-12">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5">
      </mat-paginator>
    </div>
  </div>
</div>
