html,
body {
  height: 100%;
}
body {
  margin: 0;
  font: 16px/1.4 Helvetica;
}

@import "icon";

// data table modal changes
.mat-dialog-container {
  border-radius: 8px !important;
}

// side nav bar accordian arrow color change
.mat-expansion-indicator {
  &::after {
    color: white !important;
  }
}
/** 
 * Important for print component
 * to display the print documents.
 */
@media print {
  .isPrinting > * {
    display: none;
  }
  .isPrinting app-print-layout {
    display: block;
  }
}
