html,
body {
  height: 100%;
}
body {
  margin: 0;
  font: 16px/1.4 Helvetica;
  // background-color: #e9ebee !important;
  text-transform: capitalize;
}

// data table modal changes
.mat-dialog-container {
  border-radius: 10px !important;
}

.cdk-overlay-pane {
  ::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }
}
