<div>
  <div class="container">
    <div class="classified-content align-items-center justify-content-end">
      Main Attributes
    </div>
    <div class="row">
      <div
        class="print-single-entity"
        *ngFor="let dataMainAttributes of printForMainAttributes | keyvalue"
      >
        <table class="table table-bordered">
          <thead>
            <tr
              *ngIf="
                !(
                  dataMainAttributes.key === 'checked' ||
                  dataMainAttributes.key === 'index'
                )
              "
            >
              <th class="table-header">
                <span>{{ dataMainAttributes.key }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngIf="
                !(
                  dataMainAttributes.key === 'checked' ||
                  dataMainAttributes.key === 'index'
                )
              "
            >
              <td
                *ngIf="
                  !(
                    dataMainAttributes.key === 'Bar Code' ||
                    dataMainAttributes.key === 'UPC List' ||
                    dataMainAttributes.key === 'Order Number' ||
                    dataMainAttributes.key === 'Rewards Number' 
                  )
                "
              >
                <div class="description-blocks">
                  {{ dataMainAttributes.value }}
                </div>
              </td>
              <td *ngIf="dataMainAttributes.key === 'UPC List'">
                <div *ngFor="let barCode of dataBarCode">
                  <div>
                    <ngx-barcode
                      [bc-value]="barCode"
                      [bc-display-value]="true"
                      [bc-height]="25"
                      [bc-width]="1"
                    ></ngx-barcode>
                  </div>
                </div>
              </td>
              <td *ngIf="dataMainAttributes.key === 'Order Number'">
                <div *ngFor="let barCode of dataBarCode">
                  <div>
                    <ngx-barcode
                      [bc-value]="barCode"
                      [bc-display-value]="true"
                      [bc-height]="25"
                      [bc-width]="1"
                    ></ngx-barcode>
                  </div>
                </div>
              </td>
              <td *ngIf="dataMainAttributes.key === 'Rewards Number'">
                <div *ngFor="let barCode of dataBarCode">
                  <div>
                    <ngx-barcode
                      [bc-value]="barCode"
                      [bc-display-value]="true"
                      [bc-height]="25"
                      [bc-width]="1"
                    ></ngx-barcode>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="classified-content align-items-center justify-content-end">
      Other Attributes
    </div>
    <div class="row">
      <div
        class="print-single-entity"
        *ngFor="let dataRestAttributes of printForRestAttributes | keyvalue"
      >
        <table class="table table-bordered">
          <thead>
            <tr
              *ngIf="
                !(
                  dataRestAttributes.key === 'checked' ||
                  dataRestAttributes.key === 'index'
                )
              "
            >
              <th class="table-header">
                <span>{{ dataRestAttributes.key }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngIf="
                !(
                  dataRestAttributes.key === 'checked' ||
                  dataRestAttributes.key === 'index'
                )
              "
            >
              <td
                *ngIf="
                  !(
                    dataRestAttributes.key === 'Bar Code' ||
                    dataRestAttributes.key === 'UPC List' ||
                    dataRestAttributes.key === 'Order Number' ||
                    dataRestAttributes.key === 'Rewards Number'
                  )
                "
              >
                <div class="description-blocks">
                  {{ dataRestAttributes.value }}
                </div>
              </td>
              <td *ngIf="dataRestAttributes.key === 'UPC List'">
                <div class="description-blocks">
                  <div *ngFor="let barCode of dataBarCode">
                    <ngx-barcode
                      [bc-value]="barCode"
                      [bc-display-value]="true"
                      [bc-height]="25"
                      [bc-width]="1"
                    ></ngx-barcode>
                  </div>
                </div>
              </td>
              <td *ngIf="dataRestAttributes.key === 'UPC List'">
                <div *ngFor="let barCode of dataBarCode">
                  {{ barCode }}
                </div>
              </td>
              <td *ngIf="dataRestAttributes.key === 'Order Number'">
                <div class="description-blocks">
                  <div *ngFor="let barCode of dataBarCode">
                    <ngx-barcode
                      [bc-value]="barCode"
                      [bc-display-value]="true"
                      [bc-height]="25"
                      [bc-width]="1"
                    ></ngx-barcode>
                  </div>
                </div>
              </td>
              <td *ngIf="dataRestAttributes.key === 'Order Number'">
                <div *ngFor="let barCode of dataBarCode">
                  {{ barCode }}
                </div>
              </td>
              <td *ngIf="dataRestAttributes.key === 'Rewards Number'">
                <div class="description-blocks">
                  <div *ngFor="let barCode of dataBarCode">
                    <ngx-barcode
                      [bc-value]="barCode"
                      [bc-display-value]="true"
                      [bc-height]="25"
                      [bc-width]="1"
                    ></ngx-barcode>
                  </div>
                </div>
              </td>
              <td *ngIf="dataRestAttributes.key === 'Rewards Number'">
                <div *ngFor="let barCode of dataBarCode">
                  {{ barCode }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div
      class="classified-content align-items-center justify-content-end"
      *ngIf="linkedSKUsDisplayStatusPrint"
    >
      Linked SKUs Attributes
    </div>
    <div
      class="row linked-sku-table-header"
      *ngIf="
        linkedSKUsDisplayStatusPrint &&
        (tableNameForPrint == 'Linked_SKUs' ||
          tableNameForPrint == 'Bottle_Deposit_SKUs' ||
          tableNameForPrint == 'ESP_Skus' ||
          tableNameForPrint == 'Recycle_Fee_SKUs')
      "
    >
      <div class="col-md-12 linked-sku-table">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-header">
                <span>SKUs</span>
              </th>
              <th class="table-header">
                <span>SKUs Description</span>
              </th>
              <th class="table-header">
                <span>Retail Price</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let linkedSKUsData of linkedSKUsDataPrint">
              <td>{{ linkedSKUsData.sku }}</td>
              <td>{{ linkedSKUsData.itemDesc }}</td>
              <td>{{ linkedSKUsData.retailPrice }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- order data list -->

    <div
      class="classified-content align-items-center justify-content-end"
      *ngIf="orderListDataPrintStatus"
    >
      Item Details
    </div>
    <div class="row linked-sku-table-header" *ngIf="orderListDataPrintStatus">
      <div class="col-md-12 linked-sku-table">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-header">
                <span>Ln Number</span>
              </th>
              <th class="table-header">
                <span>Item</span>
              </th>
              <th class="table-header">
                <span>Item Description</span>
              </th>
              <th class="table-header">
                <span>Item Price</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let orderListData of orderListDataPrint">
              <td>{{ orderListData.lnNmb }}</td>
              <td>{{ orderListData.sku }}</td>
              <td>{{ orderListData.itemDesc }}</td>
              <td>{{ orderListData.orderLineDetail }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div
      class="classified-content align-items-center justify-content-end"
      *ngIf="promoBuyDisplayStatus || promoBuyDisplayStatusForBXGP"
    >
      Promos Buy Attributes
    </div>
    <div class="row" *ngIf="promoBuyDisplayStatus">
      <div class="col-md-12 ">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-header">
                <span>Buy Item</span>
              </th>
              <th class="table-header">
                <span>Buy Qty</span>
              </th>
              <th class="table-header">
                <span>Buy Type</span>
              </th>
              <th class="table-header">
                <span>Promo Group</span>
              </th>
              <th class="table-header">
                <span>Price Modifier Type</span>
              </th>
              <th class="table-header">
                <span>Discount</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ promosBuyData.sku }}</td>
              <td>{{ promosBuyData.thresholdQty }}</td>
              <td>{{ promosBuyData.itemReqType }}</td>
              <td>{{ promosBuyData.promoGroup }}</td>
              <td>{{ promosBuyData.discountQualifierType }}</td>
              <td>
                {{ promosBuyData.discountQualifierValue }}/{{
                  promosBuyData.discountAppliesTo
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" *ngIf="promoBuyDisplayStatusForBXGP">
      <div class="col-md-12 ">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-header">
                <span>Buy Item</span>
              </th>
              <th class="table-header">
                <span>Buy Qty</span>
              </th>
              <th class="table-header">
                <span>Buy Type</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span>{{ promosBuyData.sku }}</span>
              </td>
              <td>
                <span>{{ promosBuyData.thresholdQty }}</span>
              </td>
              <td>
                <span>{{ promosBuyData.itemReqType }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div
      class="classified-content align-items-center justify-content-end"
      *ngIf="promoGetDisplayStatus"
    >
      Promos Get Attributes
    </div>
    <div class="row" *ngIf="promoGetDisplayStatus">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-header">
                <span>Get Item</span>
              </th>
              <th class="table-header">
                <span>Get Qty</span>
              </th>
              <th class="table-header">
                <span>Get Type</span>
              </th>
              <th class="table-header">
                <span>Modifier Type</span>
              </th>
              <th class="table-header">
                <span>Discount value</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ promosGetData.sku }}</td>
              <td>{{ promosGetData.thresholdQty }}</td>
              <td>{{ promosGetData.itemReqType }}</td>
              <td>{{ promosGetData.discountQualifierType }}</td>
              <td>{{ promosGetData.discountQualifierValue }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- <div
      class="classified-content align-items-center justify-content-end"
      *ngIf="itemGroupDataDisplayStatusPrint"
    >
      Item Group SKUs List
    </div>

    <div class="row linked-sku-table-header" *ngIf="itemGroupDataDisplayStatusPrint">
      <div class="col-md-12 linked-sku-table">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-header">
                <span>SKU Number</span>
              </th>
              <th class="table-header">
                <span>SKUs Description</span>
              </th>
              <th class="table-header">
                <span>SKU Price</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemGroupDataPrint of itemGroupDataForIDPrint">
              <td>{{ itemGroupDataPrint.sku }}</td>
              <td>{{ itemGroupDataPrint.posItemDesc }}</td>
              <td>{{ itemGroupDataPrint.retailPrice }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
  </div>
</div>
