.print-close-row {
  margin-bottom: 15px;
  margin-right: 0px;
  .print-close-icon {
    margin: 0 10px;
  }
}

.classified-content {
  margin: 15px 0px;
  height: 32px;
  color: #007bff;
  font-weight: bold;
}

.main-attribute-content {
  margin-left: 0px !important;
  margin-right: 0px !important;
  overflow: auto;
}

.linked-sku-table {
  height: 150px;
  overflow: auto;
  margin-bottom: 20px;
  margin-top: 12px;
}

.other-attribute-content {
  margin-left: 0px !important;
  margin-right: 0px !important;
  overflow: auto;
}

.table-bordered {
  .table-header {
    color: #cc0000;
  }
}

.description-blocks {
  height: 60px;
  overflow: auto;
}

.ng-star-inserted {
  width: 20%;
}
