@import "../../assets/styles/color-codes";

@mixin padding {
  padding-left: 15px;
  padding-right: 15px;
}

@mixin margin($className) {
  @if $className == "print-close-row" {
    margin-bottom: 15px;
    margin-right: 0px;
  } @else if $className == "linked-sku-table" {
    margin-bottom: 20px;
    margin-top: 12px;
  }
}

@mixin height-overflow($className) {
  overflow: auto;
  @if ($className == "attribute-table-content") or
    ($className == "other-attribute-content") or
    ($className == "linked-sku-table")
  {
    height: 150px;
  } @else if $className == "other-attribute-table-content" {
    height: 300px;
  } @else if $className == "description-blocks" {
    height: 60px;
  }
}

.detail-header {
  border-bottom: solid 1px #b3b3b3;
}

.print-close-row {
  @include margin("print-close-row");
  .print-close-icon {
    margin: 0 10px;
  }
}

.classified-content {
  margin: 15px 0px;
  height: 32px;
  color: $blue;
  font-weight: bold;
}

.promo-group {
  cursor: pointer;
  text-decoration: underline !important;
  color: #007bff !important;
}

.attribute-table-content {
  @include padding;
  @include height-overflow("attribute-table-content");
}

.other-attribute-table-content {
  @include padding;
  @include height-overflow("other-attribute-table-content");
}

.linked-sku-table-header {
  width: 100% !important;
  .linked-sku-table {
    @include height-overflow("linked-sku-table");
    @include margin("linked-sku-table");
  }
}

.other-attribute-content {
  @include padding;
  @include height-overflow("other-attribute-content");
}

.table-bordered {
  .table-header {
    color: $red;
  }
}

.description-blocks {
  @include height-overflow("description-blocks");
}

.ng-star-inserted {
  width: 20%;
}
