<div class="container">
  <div
    class="row d-flex align-items-center justify-content-end print-close-row"
  >
    <div class="print-close-icon">
      <mat-icon
        _ngcontent-c1=""
        class="print-document mat-icon mat-list-icon material-icons"
        mat-list-icon=""
        role="img"
        aria-hidden="true"
        data-toggle="tooltip"
        title="print"
        (click)="printSingleEntityData()"
        >print</mat-icon
      >
    </div>
    <div class="print-close-icon">
      <i
        class="fa fa-undo print-document"
        aria-hidden="true"
        (click)="backToDataManagement()"
        data-toggle="tooltip"
        title="Back to table"
      ></i>
    </div>
  </div>
  <div class="classified-content align-items-center justify-content-end">
    Main Attributes
  </div>
  <perfect-scrollbar [scrollIndicators]="true">
    <div class="row attribute-table-content">
      <div *ngFor="let data of dataDisplayOnModal | keyvalue">
        <table class="table table-bordered">
          <thead>
            <tr *ngIf="!(data.key === 'checked' || data.key === 'index')">
              <th class="table-header">
                <span>{{ data.key }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!(data.key === 'checked' || data.key === 'index')">
              <td *ngIf="!(data.key === 'Bar Code' || data.key === 'UPC List')">
                <div class="description-blocks">
                  <perfect-scrollbar [scrollIndicators]="true">
                    {{ data.value }}
                  </perfect-scrollbar>
                </div>
              </td>
              <td *ngIf="data.key === 'UPC List'">
                <div class="description-blocks">
                  <perfect-scrollbar [scrollIndicators]="true">
                    <div *ngFor="let barCode of dataBarCode">
                      <div>
                        <ngx-barcode
                          [bc-value]="barCode"
                          [bc-display-value]="true"
                          [bc-height]="25"
                          [bc-width]="1"
                        ></ngx-barcode>
                      </div>
                    </div>
                  </perfect-scrollbar>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </perfect-scrollbar>

  <div
    class="classified-content align-items-center justify-content-end"
    *ngIf="itemGroupDataDisplayStatus"
  >
    Item Group SKUs List
  </div>
  <div class="row linked-sku-table-header" *ngIf="itemGroupDataDisplayStatus">
    <div class="col-md-12 linked-sku-table">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="table-header">
              <span>SKU Number</span>
            </th>
            <th class="table-header">
              <span>SKUs Description</span>
            </th>
            <th class="table-header">
              <span>SKU Price</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemGroupData of itemGroupDataForID">
            <td>{{ itemGroupData.sku }}</td>
            <td>{{ itemGroupData.posItemDesc }}</td>
            <td>{{ itemGroupData.retailPrice }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div
    class="classified-content align-items-center justify-content-end"
    *ngIf="linkedSKUsDisplayStatus"
  >
    Linked SKUs Attributes
  </div>
  <div>
    <perfect-scrollbar [scrollIndicators]="true">
      <div
        class="row linked-sku-table-header"
        *ngIf="
          linkedSKUsDisplayStatus &&
          (tableNameLogDetails == 'Recycle_Fee_SKUs' ||
            tableNameLogDetails == 'Bag_Fee_SKUs')
        "
      >
        <div class="col-md-12 linked-sku-table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="table-header">
                  <span>Recycle SKUs</span>
                </th>
                <th class="table-header">
                  <span>Recycle SKUs Description</span>
                </th>
                <th class="table-header">
                  <span>Retail Price</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let linkedData of linkedSKUsData">
                <td>{{ linkedData.sku }}</td>
                <td>{{ linkedData.itemDesc }}</td>
                <td>{{ linkedData.retailPrice }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div
        class="row linked-sku-table-header"
        *ngIf="linkedSKUsDisplayStatus && tableNameLogDetails == 'Linked_SKUs'"
      >
        <div class="col-md-12 linked-sku-table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="table-header">
                  <span>Linked SKUs</span>
                </th>
                <th class="table-header">
                  <span>Linked SKUs Description</span>
                </th>
                <th class="table-header">
                  <span>Linked Price</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let linkedData of linkedSKUsData">
                <td>{{ linkedData.sku }}</td>
                <td>{{ linkedData.itemDesc }}</td>
                <td>{{ linkedData.retailPrice }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div
        class="row linked-sku-table-header"
        *ngIf="linkedSKUsDisplayStatus && tableNameLogDetails == 'ESP_Skus'"
      >
        <div class="col-md-12 linked-sku-table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="table-header">
                  <span>ESP SKUs</span>
                </th>
                <th class="table-header">
                  <span>ESP SKUs Description</span>
                </th>
                <th class="table-header">
                  <span>ESP Price</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let linkedData of linkedSKUsData">
                <td>{{ linkedData.sku }}</td>
                <td>{{ linkedData.itemDesc }}</td>
                <td>{{ linkedData.retailPrice }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </perfect-scrollbar>
  </div>

  <div class="classified-content align-items-center justify-content-end">
    Other Attributes
  </div>
  <perfect-scrollbar [scrollIndicators]="true">
    <div class="row other-attribute-table-content">
      <div *ngFor="let data of dataDisplayOnModalRest | keyvalue">
        <table class="table table-bordered">
          <thead>
            <tr *ngIf="!(data.key === 'checked' || data.key === 'index')">
              <th class="table-header">
                <span>{{ data.key }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!(data.key === 'checked' || data.key === 'index')">
              <td *ngIf="!(data.key === 'Bar Code' || data.key === 'UPC List')">
                <div class="description-blocks">
                  <perfect-scrollbar [scrollIndicators]="true">
                    {{ data.value }}
                  </perfect-scrollbar>
                </div>
              </td>
              <td *ngIf="data.key === 'UPC List'">
                <div class="description-blocks">
                  <perfect-scrollbar [scrollIndicators]="true">
                    <div *ngFor="let barCode of dataBarCode">
                      <div>
                        <ngx-barcode
                          [bc-value]="barCode"
                          [bc-display-value]="true"
                          [bc-height]="25"
                          [bc-width]="1"
                        ></ngx-barcode>
                      </div>
                    </div>
                  </perfect-scrollbar>
                </div>
              </td>
              <td *ngIf="data.key === 'UPC List'">
                <div *ngFor="let barCode of dataBarCode">
                  {{ barCode }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </perfect-scrollbar>
  <div
    class="classified-content align-items-center justify-content-end"
    *ngIf="promoBuyDisplayStatus || promoBuyDisplayStatusForBXGP"
  >
    Promos Buy Attributes
  </div>
  <div>
    <perfect-scrollbar [scrollIndicators]="true">
      <div class="row" *ngIf="promoBuyDisplayStatus">
        <div class="col-md-12 ">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="table-header">
                  <span>Buy Item</span>
                </th>
                <th class="table-header">
                  <span>Buy Qty</span>
                </th>
                <th class="table-header">
                  <span>Buy Type</span>
                </th>
                <th class="table-header">
                  <span>Promo Group</span>
                </th>
                <th class="table-header">
                  <span>Price Modifier Type</span>
                </th>
                <th class="table-header">
                  <span>Discount</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span>{{ promosBuyData.sku }}</span>
                </td>
                <td>
                  <span>{{ promosBuyData.thresholdQty }}</span>
                </td>
                <td>
                  <span>{{ promosBuyData.itemReqType }}</span>
                </td>
                <td>
                  <span>{{ promosBuyData.promoGroup }} </span>
                </td>
                <td>
                  <span>{{ promosBuyData.discountQualifierType }}</span>
                </td>
                <td>
                  <span
                    >{{ promosBuyData.discountQualifierValue }}/{{
                      promosBuyData.discountAppliesTo
                    }}</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" *ngIf="promoBuyDisplayStatusForBXGP">
        <div class="col-md-12 ">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="table-header">
                  <span>Buy Item</span>
                </th>
                <th class="table-header">
                  <span>Buy Qty</span>
                </th>
                <th class="table-header">
                  <span>Buy Type</span>
                </th>
                <th class="table-header">
                  <span>Promo Group</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span>{{ promosBuyData.sku }}</span>
                </td>
                <td>
                  <span>{{ promosBuyData.thresholdQty }}</span>
                </td>
                <td>
                  <span>{{ promosBuyData.itemReqType }}</span>
                </td>
                <td>
                  <span
                    ><a class="promo-group" (click)="displaySkuListBuy()">{{
                      promosBuyData.promoGroup
                    }}</a></span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div
        class="classified-content align-items-center justify-content-end"
        *ngIf="displaySKUBuyFlag === 'buy'"
      >
      SKUs List For Buy
      </div>
      <div class="row" *ngIf="displaySKUBuyFlag === 'buy' && noDataFlagBuy">
        <div class="col-md-12 ">
          No SKU List Data Available
          </div>
      </div>

    </perfect-scrollbar>
  </div>
  <div
    class="classified-content align-items-center justify-content-end"
    *ngIf="promoGetDisplayStatus"
  >
    Promos Get Attributes
  </div>
  <div>
    <perfect-scrollbar [scrollIndicators]="true">
      <div class="row" *ngIf="promoGetDisplayStatus">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="table-header">
                  <span>Get Item</span>
                </th>
                <th class="table-header">
                  <span>Get Qty</span>
                </th>
                <th class="table-header">
                  <span>Get Type</span>
                </th>
                <th class="table-header">
                  <span>Modifier Type</span>
                </th>
                <th class="table-header">
                  <span>Discount value</span>
                </th>
                <th class="table-header">
                  <span>Promo Group</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ promosGetData.sku }}</td>
                <td>{{ promosGetData.thresholdQty }}</td>
                <td>{{ promosGetData.itemReqType }}</td>
                <td>{{ promosGetData.discountQualifierType }}</td>
                <td>{{ promosGetData.discountQualifierValue }}</td>
                <td>
                  <a class="promo-group" (click)="displaySkuListGet()">{{
                    promosGetData.promoGroup
                  }}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div
        class="classified-content align-items-center justify-content-end"
        *ngIf="displaySKUGetFlag === 'get'"
      >
        Item Group SKUs List get
      </div>
      <div class="row" *ngIf="displaySKUGetFlag === 'get' && noDataFlagGet">
          <div class="col-md-12 ">
            No SKU List Data Available
            </div>
        </div>
    </perfect-scrollbar>
  </div>
</div>
