<div>
  <div class="container">
    <div
      class="row d-flex align-items-center justify-content-end print-close-row"
    >
      <div class="print-close-icon">
        <mat-icon
          _ngcontent-c1=""
          class="print-document mat-icon mat-list-icon material-icons"
          mat-list-icon=""
          role="img"
          aria-hidden="true"
          data-toggle="tooltip"
          title="print"
          (click)="printSingleEntityData()"
          >print</mat-icon
        >
      </div>
      <div class="print-close-icon">
        <i
          class="fa fa-undo print-document"
          aria-hidden="true"
          (click)="backToDataManagement()"
          data-toggle="tooltip"
          title="Back to table"
        ></i>
      </div>
    </div>
    <div class="classified-content align-items-center justify-content-end">
      Main Attributes
    </div>
    <perfect-scrollbar [scrollIndicators]="true">
      <div class="row attribute-table-content">
        <div *ngFor="let data of dataDisplayOnModal | keyvalue">
          <table class="table table-bordered">
            <thead>
              <tr *ngIf="!(data.key === 'checked' || data.key === 'index')">
                <th class="table-header">
                  <span>{{ data.key }}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!(data.key === 'checked' || data.key === 'index')">
                <td
                  *ngIf="!(data.key === 'Bar Code' || data.key === 'UPC List')"
                >
                  <div class="description-blocks">{{ data.value }}</div>
                </td>
                <td *ngIf="data.key === 'UPC List'">
                  <div class="description-blocks">
                    <perfect-scrollbar [scrollIndicators]="true">
                      <div *ngFor="let barCode of dataBarCode">
                        <div>
                          <ngx-barcode
                            [bc-value]="barCode"
                            [bc-display-value]="true"
                            [bc-height]="25"
                            [bc-width]="1"
                          ></ngx-barcode>
                        </div>
                      </div>
                    </perfect-scrollbar>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </perfect-scrollbar>
    <div
      class="classified-content align-items-center justify-content-end"
      *ngIf="linkedSKUsDisplayStatus"
    >
      Linked SKUs Attributes
    </div>
    <div>
      <perfect-scrollbar [scrollIndicators]="true">
        <div class="row linked-sku-table-header" *ngIf="linkedSKUsDisplayStatus">
          <div class="col-md-12 linked-sku-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="table-header">
                    <span>Fee SKUs</span>
                  </th>
                  <th class="table-header">
                    <span>Fee Description</span>
                  </th>
                  <th class="table-header">
                    <span>Retail Price</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let linkedData of linkedSKUsData">
                  <td>{{ linkedData.sku }}</td>
                  <td>{{ linkedData.itemDesc }}</td>
                  <td>{{ linkedData.retailPrice }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
    <div class="classified-content align-items-center justify-content-end">
      Other Attributes
    </div>
    <perfect-scrollbar [scrollIndicators]="true">
      <div class="row other-attribute-table-content">
        <div *ngFor="let data of dataDisplayOnModalRest | keyvalue">
          <table class="table table-bordered">
            <thead>
              <tr *ngIf="!(data.key === 'checked' || data.key === 'index')">
                <th class="table-header">
                  <span>{{ data.key }}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!(data.key === 'checked' || data.key === 'index')">
                <td
                  *ngIf="!(data.key === 'Bar Code' || data.key === 'UPC List')"
                >
                  <div class="description-blocks">{{ data.value }}</div>
                </td>
                <td *ngIf="data.key === 'UPC List'">
                  <div class="description-blocks">
                    <perfect-scrollbar [scrollIndicators]="true">
                      <div *ngFor="let barCode of dataBarCode">
                        <div>
                          <ngx-barcode
                            [bc-value]="barCode"
                            [bc-display-value]="true"
                            [bc-height]="25"
                            [bc-width]="1"
                          ></ngx-barcode>
                        </div>
                      </div>
                    </perfect-scrollbar>
                  </div>
                </td>
                <td *ngIf="data.key === 'UPC List'">
                  <div *ngFor="let barCode of dataBarCode">
                    {{ barCode }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </perfect-scrollbar>
  </div>

  <div
    class="classified-content align-items-center justify-content-end"
    *ngIf="promoBuyDisplayStatus"
  >
    Promos Buy Attributes
  </div>
  <div>
    <perfect-scrollbar [scrollIndicators]="true">
      <div class="row" *ngIf="promoBuyDisplayStatus">
        <div class="col-md-12 ">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="table-header">
                  <span>Buy Item</span>
                </th>
                <th class="table-header">
                  <span>Buy Qty</span>
                </th>
                <th class="table-header">
                  <span>Buy Type</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ promosBuyData.promoGroup }}</td>
                <td>{{ promosBuyData.thresholdQty }}</td>
                <td>{{ promosBuyData.itemReqType }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
  <div
    class="classified-content align-items-center justify-content-end"
    *ngIf="promoGetDisplayStatus"
  >
    Promos Get Attributes
  </div>
  <div>
    <perfect-scrollbar [scrollIndicators]="true">
      <div class="row" *ngIf="promoGetDisplayStatus">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="table-header">
                  <span>Get Item</span>
                </th>
                <th class="table-header">
                  <span>Get Qty</span>
                </th>
                <th class="table-header">
                  <span>Get Type</span>
                </th>
                <th class="table-header">
                  <span>Modifier Type</span>
                </th>
                <th class="table-header">
                  <span>Discount value</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ promosGetData.promoGroup }}</td>
                <td>{{ promosGetData.thresholdQty }}</td>
                <td>{{ promosGetData.itemReqType }}</td>
                <td>{{ promosGetData.discountQualifierType }}</td>
                <td>{{ promosGetData.discountQualifierValue }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>
