.log-list {
  margin-top: 5%;
  border-radius: 6px;
  display: inline-block;
  .list-search {
    .mat-form-field {
      float: right;
    }
  }
  .log-list-table {
    .example-header {
      background-color: white;
      max-height: 40px;
    }
    .launch-icon {
      margin-left: 30px;
      .mat-icon {
        color: #007bff;
      }
    }
    .mat-footer-row {
      .mat-footer-cell {
        justify-content: center;
        font-style: italic;
      }
    }
    .hide {
      display: none;
    }
  }
}
