<div class="container mat-elevation-z8 log-list">
  <div class="row">
    <div class="col-md-12 list-search">
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Search"
        />
      </mat-form-field>
    </div>
    <div class="col-md-12 log-list-table">
      <mat-table [dataSource]="dataFromAPI" matSort>
        <ng-container matColumnDef="sku">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            SKU
          </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{ user.sku }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="itemDesc">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Item Desc
          </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{ user.itemDesc }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="permPrice">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Price
          </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{ user.permPrice }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="posId">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            UPC code
          </mat-header-cell>
          <mat-cell *matCellDef="let user">
            {{ user.posId }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="barCode">
          <mat-header-cell *matHeaderCellDef>
            Bar Code
          </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <ngx-barcode
              [bc-value]="user.barCode"
              [bc-display-value]="false"
            ></ngx-barcode>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a class="launch-icon" (click)="discriptionLog(row)" mat-icon-button
              ><mat-icon>launch</mat-icon></a
            >
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6"
            >No Data.</mat-footer-cell
          >
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{
            hide: !(dataFromAPI != null && dataFromAPI.data.length == 0)
          }"
        ></mat-footer-row>
      </mat-table>
    </div>
    <div class="col-md-12">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5">
      </mat-paginator>
    </div>
  </div>
</div>
