.print-close-row {
  margin-bottom: 15px;
  margin-right: 0px;
  .print-close-icon {
    margin: 0 10px;
  }
}

.table-bordered {
  .table-header {
    color: #cc0000;
  }
}

.discription-blocks {
  height: 65px;
  overflow: auto;
}
