<perfect-scrollbar [config]="config" [scrollIndicators]="true">
  <div class="container">
    <div
      class="row d-flex align-items-center justify-content-end print-close-row"
    >
      <mat-dialog-actions>
        <div class="print-close-icon">
          <mat-icon
            _ngcontent-c1=""
            class="print-document mat-icon mat-list-icon material-icons"
            mat-list-icon=""
            role="img"
            aria-hidden="true"
            data-toggle="tooltip"
            title="print"
            (click)="printDialogData()"
            >print</mat-icon
          >
        </div>
        <div class="print-close-icon">
          <mat-icon
            _ngcontent-c1=""
            class="close-icon mat-icon mat-list-icon material-icons"
            mat-list-icon=""
            role="img"
            aria-hidden="true"
            data-toggle="tooltip"
            title="close"
            (click)="closeDialog()"
            >close</mat-icon
          >
        </div>
      </mat-dialog-actions>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let data of dataDisplayOnModal | keyvalue">
        <table class="table table-bordered">
          <thead>
            <tr *ngIf="!(data.key === 'checked' || data.key === 'index')">
              <th class="table-header">
                <span>{{ data.key }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!(data.key === 'checked' || data.key === 'index')">
              <td *ngIf="!(data.key === 'BAR CODE' || data.key === 'UPC List')">
                <div class="discription-blocks">{{ data.value }}</div>
              </td>
              <td *ngIf="data.key === 'BAR CODE'">
                <div class="discription-blocks">
                  <perfect-scrollbar
                    [config]="config"
                    [scrollIndicators]="true"
                  >
                    <div *ngFor="let barCode of dataBarCode">
                      <div>
                        <ngx-barcode
                          [bc-value]="barCode"
                          [bc-display-value]="false"
                          [bc-height]="25"
                          [bc-width]="1"
                        ></ngx-barcode>
                      </div>
                      <div class="text-center">{{ barCode }}</div>
                    </div>
                  </perfect-scrollbar>
                </div>
              </td>
              <td *ngIf="data.key === 'UPC List'">
                <div *ngFor="let barCode of dataBarCode">
                  {{ barCode }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</perfect-scrollbar>
