<table>
  <thead>
    <tr>
      <td>
        <div class="header-space"></div>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <div class="footer-space"></div>
      </td>
    </tr>
  </tfoot>
</table>

<div class="header">
  <img src="./app/assets/images/staples_header_image.png" />
</div>
<!-- <div class="footer">
  <img src="../../../app/assets/images/tree_icon.png" />
  <strong class="footer-message"
    >Please consider the environment before printing this email.</strong
  >
</div> -->
