.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.main-footer {
  background-color: #ffffff;
  min-height: 50px;
  .footer-text {
    display: inline-block;
    text-align: center;
    font-style: italic;
    color: #c00;
  }
}
